body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.header-section{
    display: flex;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 45px;
    font-weight: 750;
}
.orange-color {
    color: orange;
}

h3{
    font-weight: 500;
}

p{
    font-size: 17px;
    font-style: italic;
}

.half-width{
    width: 50%;
    padding-left:5%;
}
.half-width img{
    width: 60%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}